<nav class="nav nav-tabs">
  <a
    class="nav-link top-nav-item"
    routerLink="/config"
    routerLinkActive="active-selection"
    >Config</a
  >
  <a
    class="nav-link top-nav-item"
    routerLink="/request"
    routerLinkActive="active-selection"
    >Requests</a
  >
  <a
    class="nav-link top-nav-item"
    routerLink="/response"
    routerLinkActive="active-selection"
    >Responses</a
  >
</nav>

<!-- <a class="navlink" [routerLink]="menuData.routePath" routerLinkActive="router-link-active"> -->
