.top-nav-item {
  width: 104px;
  height: 38px;
  padding: 0px 16px;
  border-radius: 4px;
  font-size: 16px;
  color: #0056b3;
  text-decoration: none solid rgb(0, 86, 179);
  text-align: center;
  justify-self: center;
}

.active-selection {
  width: 115px;
  height: 38px;
  padding: 0px 16px;
  border-radius: 4px;  
  font-size: 20px;
  color: #0d7373;
  text-decoration: none solid rgb(13, 115, 115);
  text-align: center;
}

